<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>Static Site</header>
        {{> body }}
        <footer>Footer text here</footer>
    </body>
</html>
